<!DOCTYPE html>
<html lang="en">
<head>
    <title>Show Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <h2>Download the file</h2>
            <br>
            <button class="btn btn-primary">
                <a href="{{ url_for('download') }}" style="color: white; text-decoration: none;">Download</a>
            </button>
        </div>
    </div>
    <br>
    <div class="container">
        {{ data_var|safe }}
    </div>
</body>

</html>

